
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put },:validate=>true) do |f| %>
  <article class="card-body mx-auto" style="max-width: 400px;">
  <h2>Edit <%= resource_name.to_s.humanize %>Profile</h2>
  <div class="form-group input-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
  </div>
  <div class="form-group input-group" >
      <%= f.text_field :name , class:"form-control", placeholder:"Enter Name" %>
      <label for="user_email" class="message" hidden>has already been taken</label>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group input-group">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="form-group input-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control", placeholder:"Confirm Password" %>
  </div>

  <div class="form-group input-group">
    <%= f.password_field :current_password, autocomplete: "current-password",class:"form-control", placeholder:"current Password" %>
  </div>
  <div class="upload-btn-wrapper">
      <button class="uploadbtn btn-success"><i class="fa fa-camera"></i></button>
      <%= f.file_field :image,class:"form-control",placeholder:"upload Image" %>
  </div>
  <div class="form-group">
    <%= f.submit "Update",class:"btn btn-primary btn-block" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-danger btn-block" %></p>

<%= link_to "Back", :back,class:"btn btn-warning" %>

</article>
</div>
