
<div class="col-auto my-1">
<div class="row">
<div class="container">
  <h1>
    Groups Page
  </h1>
  <%= form_tag(groups_path, method: "post",class: "form-inline") do %>
  <div class="col-auto my-4">
        <label>
          Enter Your Group Name
        </label>
  </div>
    <%= text_field_tag(:name, "", class: "form-control col-5", placeholder: 'Enter a name for your group')%>
    <div class="col-auto my-1">
      <%= submit_tag("Add Group",class: "btn btn-success") %>
    </div>
  <% end %>
  <% flash.each do |type, msg| %>
    <% if msg == "Group was successfully created." %>
      <div class="alert alert-success col-6">
        <%= msg %>
      </div>
    <% else %>
    <div class="alert alert-danger col-4">
        <%= msg %>
      </div>
    <% end %>
<% end %>
    <div class="panel-body col-4">
      <h2>Groups List</h2>
      <div>
        <ul class="list-group myBorder">
        <% for group in @groups %>
        <li class="list-group-item groups">
          <strong class="groupsName"><%= group.name%></strong>
               
<%= link_to(
      content_tag(
        :i,
        nil, 
        class: 'fa fa-user-plus'
      ), 
      group_path(group),
         method: :Show,
         :method => :get
    ) 
%>
   
<%= link_to(
      content_tag(
        :i,
        nil, 
        class: 'fa fa-calendar-times'
      ), 
      group_path(group),
                    method: :delete,
                data: { confirm: 'Are you sure?' }
    ) 
%>

        </li>
        
        <% end %>
      </ul>

      </div>
    </div>
</div>

