<html>
  <head>
    <link rel="stylesheet" href="../../app/assets/stylesheets/home.scss" />
  </head>
  <body>
    <%=render 'navbar/navbar'%>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="lastorderdiv">
          <h2><span class="badge badge-secondary mb-0">Latest Orders</span></h2>
            <div class="dbdata">
              <ul class="list-group">
                <% @orders.each do |order| %>
                <li class="list-group-item disabled"><%= order['name'] %> : Order at <%=
                  order['created_at']%></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="friendsactivitydiv">
            <h2><span class="badge badge-secondary mb-0">Friends Activity</span></h2>
             
            <div class="dbdata">
              <ul class="list-group">
                
                <% @friends.each do |friend| %>
                  <%if(current_user.id==friend['user_id']) %>
                    <li class="list-group-item disabled"><%= friend['name'] %> : Has Created An Order From <%=friend['restaurant']%></li>
                 
                  <%end%>
                <%end%>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
