
<html>
<head>

<link rel="stylesheet" href="../../app/assets/stylesheets/home.scss">

</head>
<body>

<%=render 'navbar/navbar'%>


<div class="container">
  
  <div class="row">
    <div class="col-sm-6">
      
      <div class="lastorderdiv">
      <h3 class="text-success text-center">Latest Orders</h3>

                  <div class="dbdata">
                    
                  <% @orderAll.each do |oderuser| %>
                  
                        <p>
                                <%= oderuser.meal %>
                                : Order at 
                              <%= oderuser.created_at.strftime("%m/%d/%Y")%>
                                
                        </p>   
                        
                  <% end %>
                  
                  </div>

      </div>
    </div>
    <div class="col-sm-6">
   
      <div class="friendsactivitydiv">
      <h3 class="text-success text-center">Friends activity</h3>
      
      <div class="dbdata">
      <% @orderAll.each do |oderuser| %>
          
        <p>
                <%= oderuser.owner %>
                : Has Created An Order From
                <%= oderuser.restaurant%>
                
        </p>   
        
        <% end %>
      </div>        
      </div>
    </div>
  </div>

</div>


       
</body>
</html>


